<%= render 'shared/navbar' %>

<div class="container show-user w-75">
  <div class= "d-flex justify-content-between align-items-center mb-3">
    <div >
      <h1>Mon profil</h1>
    </div>
    <div><%= link_to 'Modifier mon profil',  edit_user_path(@user), class: 'salmon-button' %></div>
  </div>
  <div class="box-profil d-flex justify-content-between">
    <div>
      <p>Nom : <%= @user.last_name %></p>
      <p>Prénom : <%= @user.first_name %></p>
    </div>
    <div>
      <p>Email : <%= @user.email %></p>
      <p>Téléphone : <%= @user.phone_number %></p>
      <span class="mt-2"><%= link_to 'Modifier mon mot de passe',  edit_user_registration_path(@user), class: 'salmon-button' %></span>
    </div>
  </div>
  <div class="my-3">
    <h1> Historique</h1>
  </div>
  <div class="container d-flex justify-content-between mt-3 p-0">
    <div>
      <h3 class="mb-2" >Expériences vécues</h3>
      <% @user.bookings.past_bookings.each do |booking| %>
        <div class="box-exp d-flex justify-content-between mr-1">
          <div>
            <h4><%= link_to booking.experience.title, experience_path(booking.experience) %></h4>
            <p><%= booking.experience.short_description %></p>
            <p>Effectuée le <%= booking.date %></p>
          </div>
          <div>
            <div class="d-flex">
              <% if booking.experience.average_rating != nil %>
                <% n = booking.experience.average_rating.truncate() %>
                <% n.times do %>
                  <div><p><span  class="stars"><i class="fas fa-star"></i></span></p></div>
                <% end %>
                <% (5-n).times do %>
                  <div><p><span  class="stars"><i class="far fa-star"></i></span></p></div>
                <% end %>
              <% end %>
            </div>
          <div style="font-weight: bold;">
            <%= link_to "Leave a review!",new_experience_review_path(booking.experience) %>
          </div>
          </div>
      </div>
      <% end %>
    </div>
    <div>
      <h3 class="mb-2">Expériences à venir</h3>
      <% @user.bookings.next_bookings.each do |booking| %>
        <div class="box-exp d-flex justify-content-between ml-1">
          <div>
            <h4><%= link_to booking.experience.title, experience_path(booking.experience) %></h4>
            <p><%= booking.experience.short_description %></p>
            <p>Votre réservation est pour le le <%= booking.date %></p>
          </div>
          <div class="d-flex">
            <% if booking.experience.average_rating != nil %>
              <% n = booking.experience.average_rating.truncate() %>
              <% n.times do %>
                <div><p><span  class="stars"><i class="fas fa-star"></i></span></p></div>
              <% end %>
              <% (5-n).times do %>
                <div><p><span  class="stars"><i class="far fa-star"></i></span></p></div>
              <% end %>
            <% end %>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
