<div class="navbar-blue d-flex justify-content-between fixed-top px-4 align-items-end">
  <%= link_to root_path do  %>
    <div class="d-flex align-items-end">
      <div>
        <%= image_tag 'logo-white.png', style: 'height:40px;width:auto;' %>
      </div>
      <div><h3>Dreamception</h3></div>
    </div>
  <% end %>
  <div>
  <% if user_signed_in? %>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= "Bonjour, #{current_user.first_name}"%>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <p><%= link_to "Votre profil" , user_path(current_user), class: "dropdown-item"  %></p>
      <div class="dropdown-divider"></div>
      <p><%= link_to "Log out" , destroy_user_session_path, method: :delete, class: "dropdown-item"  %></p>
    </div>
  </li>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
  <% end %>
  </div>
</div>

