<%= render 'shared/navbar_home' %>

<div class="container devise">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
        <h3>Créer une nouvelle experience</h3>

        <%= simple_form_for(@experience) do |f| %>

          <div class="form-inputs">
            <%= f.input :title %>
            <%= f.input :short_description %>
            <%= f.input :long_description %>
            <%= f.input :price_per_person %>
            <%= f.input :nb_max_of_persons %>
            <%= "Catégorie : " %>
            <%= f.select :category, options_for_select(["sciences fiction", "histoire", "sensations", "insolite"]) %>
            <%= f.input :photo, as: :file %>

            <%= f.button :submit, "Valider" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
